<form action="/create" method="POST" class="form-profile">
<div class="form-container">
    <div class="question-container">
        <label for="first_name">FIRST_NAME: </label>
        <input type="text" name="first_name" placeholder="Enter your name:">
    </div>

    <div class="question-container">
        <label for="last_name">LAST_NAME: </label>
        <input type="text" name="last_name" placeholder="Enter your name:">
    </div>

    <div class="question-container">
        <label for="occupation">OCCUPATION: </label>
        <input type="text" name="occupation" placeholder="Enter your occupation:">
    </div>
    <div class="btn-container">
        <button type="submit" class="btn-sub">SUBMIT
        </button>
    </div>
</div>
</form>